@import 'reset';

$white: #fff;

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

%animation {
    animation-name: spin;
    animation-duration: 75000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 100;
}


.font-def {
    color: $white;
    font-family: Tahoma, sans-serif;
}



#bg_cert {
    & {
        width: 1000px;
        height: 600px;
        padding: 10%;
        position: relative;
        background-image: url("../img/bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    img {
        width: 290px;
        float: left;
        margin-right: 25%;    
        margin-right: 15%;
        position: absolute;
        top: 5%;
        left: 6%;
        @extend %animation;
    }

    h1 {
        width: 65%;
        color: transparent;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 100px;
        font-family: 'PT Sans Narrow', sans-serif;
        float: left;
        position: absolute;
        margin-left: 13%;
        text-transform: uppercase;
        top: 6%;

        &:before, 
        &:after {
            content: "Certificate";
            position: absolute;
            top: -2px;
            left: -2px;
            color: black;
            margin-left: 15%;
            letter-spacing: 10px;
        }

        &:after {
            top: 0;
            left: 0;
            color: white;
        }
    }

    .blick {
        &-fst,
        &-snd {
            position: absolute;
            height: 20%;
            right: 0;
            top: 0;
            width: 20%;
        }

        
    }


    h2 {
        @extend .font-def;
    }

    h3 {
        color: $white;
    }

    .block {
        &-first,
        &-second {
            & {
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
                width: 25%;
            }

            &:before,
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 33.333%;
            }

            &:before {
                top: 33.333%;
                background-color: rgba(255,255,255,0.5);
            }

            &:after {
                top: 66.666%;
                background-color: rgba(255,255,255,0.2);
            }
        }

        &-second {
            right: 25%;
            top: 33.333%;
        }
    }
}