@import "compass";
@import "compass/css3";
@import "var";
@import 'reset';

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

%animation {
    animation-name: spin;
    animation-duration: 75000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    z-index: 101;
}

.font-def {
    color: $white;
    font-family: Tahoma, sans-serif;
}

#bg_cert {
    & {
        width: 1000px;
        height: 450px;
        padding: 10%;
        overflow: hidden;
        position: relative;
        background-image: url("../img/bg2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
    }

    .img {
        overflow: hidden;
        border-radius: 50%;
        float: left;
        margin-right: 15%;
        position: absolute;
        top: 5%;
        left: 6%;

        img {
            width: 290px;
            @extend %animation;
            display: block;
            z-index: 100;
            position: relative;
        }

        .blick {
            &-fst,
            &-snd {
                position: absolute;
                z-index: 200;
                height: 20%;
                left: 0;
                top: 0;
                width: 20%;

                &:after, &:before {
                    content: '';
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    border-radius: 50%;
                    background-color: $white;
                }
            }

            &-fst:after {
                opacity: 0.15;
                top: 163px;
                left: 104px;
            }

            &-fst:before {
                opacity: 0.2;
                left: 79px;
                top: 150px;
                width: 50px;
                height: 50px;
            }

            &-snd:after {
                opacity: 0.2;
                left: 100px;
                top: 150px;
                width: 100px;
                height: 100px;
            }

            &-snd:before {
                opacity: 0.05;
                left: 100px;
                width: 200px;
                height: 200px;
                top: 150px;
            }
        }
    }

    h1 {
        width: 65%;
        color: transparent;
        background-color: rgba(0, 0, 0, 0.5);
        font-size: 100px;
        font-family: 'PT Sans Narrow', sans-serif;
        float: left;
        position: absolute;
        margin-left: 13%;
        text-transform: uppercase;
        top: 6%;

        &:before,
        &:after {
            content: "Certificate";
            position: absolute;
            top: -2px;
            left: -2px;
            color: black;
            margin-left: 15%;
            letter-spacing: 10px;
        }

        &:after {
            top: 0;
            left: 0;
            color: white;
        }
    }

    h2 {
        @extend .font-def;
        margin-top: 118px;
        margin-left: 358px;
        font-size: 22px;
    }

    h3 {
        @extend .font-def;
        position: absolute;
        top: 158px;
        left: -87px;
        transform: rotate(-90deg);
    }

    h4 {
        color: black;
        position: absolute;
        right: 150px;
        top: 40px;
        font-size: 27px;
        font-family: tahoma, sans-serif;
        font-weight: normal;
    }

    h5 {
        color: white;
        position: absolute;
        right: 44px;
        top: 363px;
        font-size: 27px;
        font-family: tahoma, sans-serif;
        font-weight: normal;
        width: 200px;
        line-height: 26px;
    }

    p {
        position: absolute;
        right: 100px;
        bottom: 87px;
        font-size: 22px;
        font-family: tahoma, sans-serif;

        a {
            text-decoration: underline;
            color: $white;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .block {
        &-01,
        &-02,
        &-03,
        &-04 {
            & {
                position: absolute;
                height: 100%;
                right: 0;
                top: 0;
                width: 25%;
            }

            &:before,
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 33.333%;
                background-color: $white;
            }

            &:before {
                top: 33.333%;
                opacity: 0.7;
            }

            &:after {
                top: 66.666%;
                opacity: 0.4;
            }
        }

        &-02 {
            right: 25%;
            top: 33.333%;
            opacity: 0.3;

            &:after {
                opacity: 0.9;
            }
        }

        &-03 {
            top: 66.666%;
            opacity: 0.7;

            &:after {
                opacity: 0.9;
            }
        }

        &-04 {
            left: 25%;
            top: 33.333%;
            opacity: 0.4;
        }
    }
}